body {
            font-family: Arial, sans-serif;
            margin: 0;
            background: #fff;
            font-size: 24px;
        }

        .container-flex {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .logo img {
            width: 268px;
            justify-content: center;
        }

        .text {
            text-align: center;
        }

        .container{
            padding: 20px;
        }
        .form {
            background: #A62B4F;
            padding: 50px 80px;
            border-radius: 36px;
            color: rgb(0, 0, 0);
            width: 577px;
            height: 414px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="password"] {
            width: 486px;
            height: 59px;
            padding: 0px 20px;
            margin-bottom: 15px;
            border-radius: 5px;
            border: none;
        }

        input[type="submit"] {
            background: #ccc;
            border: solid black;
            border-radius: 6px;
            width: 144px;
            height: 41px;
            cursor: pointer;
            display: block;
            margin-left: auto;
            font-size: 24px;

        }

        input[type="submit"]:hover {
            background: #bbb;
        }